<nav id="sidebar">
	<div class="col p-3">
		<a href="{{ signin_url }}" class="btn btn-outline-light btn-block btn-sm" role="button"
			title="Ver peliculas online para adultos, XXX">ACCEDER</a>
		<hr class="hr-light mb-0">
	</div>
	<div class="col p-0">
		<div class="collapse show" id="navMobMarcas">
			<ul class="list-unstyled">
				{% for category in categories %}
				{% if category.channel %}
				<li class="py-1">
					<h3>
						<a href="/es/category/{{ category.url }}" title="{{ category.name }}">
							<img src="{{ url_for('static', filename='img/nav-' + category.name.lower() + '.png') }}">
						</a>
					</h3>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		{% if girls.pornstars %}
		<a class="btn btn-block btn-collapse text-left text-uppercase text-white" data-toggle="collapse"
			href="#navMobPornstars" role="button" aria-expanded="false" aria-controls="navMobPornstars"
			id="btnMobPornstars">
			SexStars <i class="fas fa-chevron-up float-right"></i>
		</a>
		<div class="collapse" id="navMobPornstars">
			<ul class="list-unstyled">
				{% for star in girls.pornstars|sort(attribute='name') %}
				<li>
					<h3>
						<a href="/es/girl/{{ star.url }}" title="{{ star.name }}">{{ star.name }}</a>
					</h3>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		{% if girls.playmates %}
		<a class="btn btn-block btn-collapse text-left text-uppercase text-white" data-toggle="collapse"
			href="#navMobPlaymates" role="button" aria-expanded="false" aria-controls="navMobPlaymates"
			id="btnMobPlaymates">
			Conejitas <i class="fas fa-chevron-up float-right"></i>
		</a>
		<div class="collapse" id="navMobPlaymates">
			<ul class="list-unstyled">
				{% for playmate in girls.playmates|sort(attribute='name') %}
				<li>
					<h3>
						<a href="/es/girl/{{ playmate.url }}" title="{{ playmate.name }}">{{ playmate.name }}</a>
					</h3>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		<a class="btn btn-block btn-collapse text-left text-uppercase text-white" data-toggle="collapse"
			href="#navMobCategories" role="button" aria-expanded="true" aria-controls="navMobCategories"
			id="btnMobCategories">
			Categorías <i class="fas fa-chevron-down float-right"></i>
		</a>
		<div class="collapse show" id="navMobCategories">
			<ul class="list-unstyled">
				{% for category in categories|sort(attribute='name') %}
					{% if not category.channel %}
					<li>
						<h3>
							<a href="/es/category/{{ category.url }}" title="{{ category.name }}">{{ category.name }}</a>
						</h3>
					</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>